



    <div>
        <div style="display: -webkit-inline-box;">
            <img style="width: 89px;" src="../../assets/images/eviden-logo.png" [routerLink]="['/home']">
        <div>
        <div>
            <header>
                <nav>
                    <div>
                        <ul>
                            <div style="display: flex;">
                                <div>
                                    <li><a [routerLink]="['/customer']">Customer</a></li>
                                    <li><a [routerLink]="['/product']">Product</a></li>
                                    <li><a [routerLink]="['/order']">Order</a></li>
                                </div>
                                <div style=" margin-top: -0.5rem; margin-left: 66rem;">
                                    <img src="../../assets/icons/sign-out.svg" width="30px" style="padding-right: 1rem;" alt="SVG Image">
                                    <img src="../../assets/icons/user-profile.svg" width="30px" alt="SVG Image">
                                </div>
                            </div>
                        </ul>
                    </div>
                </nav>
            </header>
        </div>
    </div>