<div class="header-container">
    <div class="logo-container">
      <img class="logo" src="../../assets/images/evidenlogo.png" [routerLink]="['/home']" alt="Eviden Logo">
    </div>
    <div class="menu-container">
      <nav>
        <ul>
          <li><a [routerLink]="['/customer']" (click)="customer()">Customer</a></li>
          <li><a [routerLink]="['/product']">Product</a></li>
          <li><a [routerLink]="['/order']">Order</a></li>
        </ul>
      </nav>
    </div>
    <div class="user-actions">
      <a href="/login">
      <img class="icon" src="../../assets/icons/sign-out.svg" alt="Sign Out">
      </a>
      <a href="/profile">
        <img class="icon" src="../../assets/icons/user-profile.svg" alt="User Profile">
      </a>
    </div>
  </div>
  