<app-header></app-header>
<div class="ordre-top">
<div>
    <h1>Liste des ordres</h1>
</div>
<div class="ordre-button">
    <button class="add-button">Ajouter un ordre</button>
</div>
</div>
              
<div>
    <body>
        <table>
            <tr>
                <th>ID de l'ordre</th>
                <th>Réference Ordre</th>  
                <th>Nom du client</th>
                <th>Status</th>
                <th>Montant</th>
                <th>Date création</th>         
                <th>Actions</th>
            </tr>
            <tr *ngFor="let order of orders" (click)="afficherDetails()" >
                <td>{{ order.idOrder }}</td>
                <td>{{ order.label }}</td>
                <td>{{ order.username }}</td>
                <td style="color: #27cc27;">{{ order.status }}</td>
                <td>{{ order.total }}</td>
                <td>{{ order.createDate }}</td>
                <td>
                    <img src="../../assets/icons/update.svg" width="28px" style="padding-right: 1rem;" alt="SVG Image">
                    <img src="../../assets/icons/delete.svg" width="25px" style="padding-right: 1rem;" alt="SVG Image">
                </td>
            </tr>
        </table>
    </body>
</div>

<div class="pagination">
    <img src="../../assets/icons/left.svg" width="15px" style="padding-right: 1rem;" alt="SVG Image">
    <img src="../../assets/icons/right.svg" width="15px" style="padding-right: 1rem;" alt="SVG Image">
</div>