<!-- <div>
	<app-header></app-header>
</div> -->

<div class="container">
     <div class="left">
		<!-- <img src="C:/Java-formation/inventoryManagment-front/src/assets/images/img.png"> -->
		<img src="../../assets/images/1.jpg" style="width: 100%; height: 100%;"/>
		<!-- <img [src]="imageUrl" [attr.width]="imageSize" [attr.height]="imageSize" [hidden]="hideImage"> -->
    </div>
    <div class="right">
		<div class="login-form">
			<span class="title">
				Connexion
			</span>

			<div class="login">
			<!-- <form form [formGroup]="loginForm" autocomplete="off"> -->
				<p class="">
					<label  for="identifiant">Login</label>
					<input
					type="text"
					id="identifiant"
					name="identifiant"
					formControlName="username"
					/>
				</p>
			
				<p class="">
					<label style="margin-right: 12rem;"  for="identifiant">Password</label>
					<input
					type="text"
					id="Password"
					name="Password"
					formControlName="Password"
					/>
				</p>			
			</div>
			<div class="button-group">
				<button style="margin-left: 14rem;" class="btn" (click)="signIn()">Sign In</button>
				<button style="margin-right: 14rem;" class="btn" (click)="signUp()">Sign Up</button>
			</div>
			<!-- </form> -->			
        </div>
	</div>
	<!-- TODO Sign up   -->
</div>