<html>
<head>
    <title>Connexion</title>
</head>

<body>
    <div class="background">
        <img src="../../assets/images/library2.jpg" alt="Blurred Background">
    </div>
    <div class="container">
        <div class="content">
            <div class="login-form">
                <span class="title">Connexion</span>
                <div class="login">
                    <p>
                        <label for="identifiant">Login</label>
                        <input type="text" id="identifiant" name="identifiant" formControlName="username" />
                    </p>
                    <p>
                        <label for="Password">Password</label>
                        <input type="password" id="Password" name="Password" formControlName="Password" />
                    </p>
                </div>
                <div class="button-group">
                    <button class="btn" (click)="signIn()">Sign In</button>
                    <button class="btn" (click)="signUp()">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>