.close-button{
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    
    margin-left: 250px;
}
.close-button:hover {
    background-color: #d32f2f;
}
.shopping-cart {
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 20px;
  }
  
  .shopping-cart h2 {
    font-size: 24px;
    margin: 10px 0;
  }
  
  .shopping-cart ul {
    list-style: none;
    padding: 0;
  }
  
  .shopping-cart li {
    margin: 10px 0;
  }
  img{
    width: 15px;
  }
 

  