.enregistrement{
    text-align: center;
    margin-top: 6rem;
}

.btn{
    margin-top: 20px;
    background-color: #FFA500;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-left: 10px ;
    border-radius: 10px;
}

.form-group{
    margin-bottom: 1.5rem;
}