.login-form{
    text-align: center;
    margin-top: 10rem;
}

.title{
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 18px;
    text-transform: uppercase;
}

.login{
    margin-top: 3rem;
    margin-bottom: 1rem;    
}

.button-group{
    display: flex;
    justify-content: center;
}

.btn{
    margin-top: 20px;
    background-color: #FFA500;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-left: 10px ;
    border-radius: 10px;
}