<app-header></app-header>
<body>
    <div class="product-list">
        <div class="card">
            <div class="image-container">
            <img class="cartImg" src="../../assets/images/cart.png" alt="cart" (click)="showCard()">
            </div>
            </div>

        
    <h1>Our Products</h1>

    <div class="search-container">
    <input type="text" id="searchInput" placeholder="Search for a product">
    <button class="search-button">Search</button>
    
    </div>
   
   <!-- <img class="cartImg" src="../../assets/cart.png" alt="Cart">-->


    <table>
    <thead>
    <tr>
    <th>Product</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td><img src="../../assets/images/book1.png" alt="Product 1"></td>
    <td>$19.99</td>
    <td>40</td>
    
    <td  class="action">
        <img class="updateImg" src="../../assets/icons/update.svg"   style="padding-right: 1rem;" alt="update" (click)="updateProduct(1)">
        <img class="deleteImg" src="../../assets/icons/delete.svg"  style="padding-right: 1rem;" alt="delete" (click)="deleteProduct(1)">
    <button class="add-cardButton " title="Add to cart">Add to cart</button>
    </td>
   
    </tr>
    <tr>
    <td><img src="../../assets/images/book2.png" alt="Product 2"></td>
    <td>$29.99</td>
    <td>20</td>
    
    <td class="action">
    
    <img class="updateImg" src="../../assets/icons/update.svg" style="padding-right: 1rem;" alt="update" (click)="updateProduct(1)">
    <img class="deleteImg" src="../../assets/icons/delete.svg" style="padding-right: 1rem;" alt="delete" (click)="deleteProduct(1)">
  
    <button  class="add-cardButton " title="Add to cart">Add to cart</button>
    </td>
    
    </tr>
    </tbody>
    </table>
    </div>
    <footer>
    &copy; 2023 Your Online Store
    </footer>
    </body>