body {

    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

}
.product-list {
  margin-left: 75px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 20px;

}
h1 {
    font-size: 24px;
    margin: 10px 0;

}
table {
    width: 100%;
    border-collapse: collapse;

}
th, td {
    padding: 15px;
    text-align: center;

}
th {

    background-color: #f2f2f2;

}
tr:nth-child(even) {

    background-color: #f2f2f2;

}
.product img {

    max-width: 20px;
  
    margin-right: 10px;

}
img{
  width: 80px;
}
.card {
  
  margin-left: auto;
  display: flex;
  width: min-content;
  height: -webkit-fill-available;
  border-radius: 22px;

}
.card:hover{
  box-shadow: 10px 10px 5px rgb(200, 200, 205);

}
.image-container {

  height: 45px;
  width: 46px;

  overflow: hidden;

  position: relative;
}
.image-container img {

  width: 100%;

  height: 100%;

}
.content {

  flex: 1;

  padding: 20px;

}
/* Colored div in the corner */
.image-corner {

  position: absolute;

  top: 10px;

  right: 10px;

  width: 50px;

  height: 50px;

  background-color: #3498db; /* Change this to your desired color */

  color: white;

  display: flex;

  justify-content: center;

  align-items: center;

  font-weight: bold;

}
.add-button, .delete-button, .add-cardButton {

    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s;

}
.add-cardButton{
  
  background-color: #60baf7;
  margin-left: 10px;
  font-size: 13px;
  font-weight: bold;
}
.add-cardButton:hover{
  
  background-color: #189ef7;
  
}
.cartDiv{
  background-color: #189ef7;
}
.add-button:hover {
    background-color: #45a049;

}
.delete-button {

    background-color: #f44336;
    margin-left: 10px;

}
.delete-button:hover {

    background-color: #d32f2f;

}
.search-container {

    display: flex;

    align-items: center;

    justify-content: center; /* Center horizontally */

    margin: 20px auto; /* Center horizontally and provide equal margin */

    max-width: 300px;

    background-color: #fff;

    border-radius: 25px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    overflow: hidden;

}
#searchInput {

    border: none;

    padding: 10px;

    border-radius: 25px;

    width: 100%;

    outline: none;

}
.search-button {

    background-color: #e86609;

    color: white;

    border: none;

    padding: 10px 20px;

    cursor: pointer;

    transition: background-color 0.3s;

}
.search-button:hover {

    background-color: #45a049;
}
footer {

    background-color: rgb(137, 137, 135);

    color: #fff;

    text-align: center;

    padding: 10px;

    position: fixed;

    bottom: 0;

    width: 100%;

}

.shopping-cart {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 20px;
}

.shopping-cart h2 {
  font-size: 24px;
  margin: 10px 0;
}

.shopping-cart ul {
  list-style: none;
  padding: 0;
}

.shopping-cart li {
  margin: 10px 0;
}

.shopping-cart button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s;
  margin-left: 10px;
}

.shopping-cart button:hover {
  background-color: #d32f2f;
}
