<app-header></app-header>
<body>
    <div class="product-list">
        <div class="card">
            <div class="image-container">
            <img class="cartImg" src="../../assets/cart2.png" alt="cart" (click)="showCard()">
            </div>
            </div>

        <app-cart *ngIf="isCardVisible"></app-cart>
    <h1>Our Products</h1>

    <div class="search-container">
    <input type="text" id="searchInput" placeholder="Search for a product">
    <button class="search-button">Search</button>
    
    </div>
   
   <!-- <img class="cartImg" src="../../assets/cart.png" alt="Cart">-->


    <table>
    <thead>
    <tr>
    <th>Product</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td><img src="../../assets/book2.png" alt="Product 1"></td>
    <td>$19.99</td>
    <td>40</td>
    
    <td>
   <!-- <img class="cartImg" src="../../assets/update.png" text="Update" (click)="showCard()">-->
    <button class="add-button">Update</button>
    <button class="delete-button">Delete</button>
    <button class="add-cardButton " title="Add to cart">Add to cart</button>
    </td>
   
    </tr>
    <tr>
    <td><img src="../../assets\book1.png" alt="Product 2"></td>
    <td>$29.99</td>
    <td>20</td>
    
    <td>
    <button class="add-button">Update</button>
    <button class="delete-button">Delete</button>
    <button  class="add-cardButton " title="Add to cart">Add to cart</button>
    </td>
    
    </tr>
    </tbody>
    </table>
    </div>
    <footer>
    &copy; 2023 Your Online Store
    </footer>
    </body>