<head>
    <title>Mon Profil</title>
</head>
<body>
    <div class="background">
        <img src="..\..\assets\images\library2.jpg" alt="Blurred Background">
    </div>
    <div class="container">
        <div class="profile">
            <h1>My Profile</h1>
            <div class="profile-info">
                <label for="firstName">FirstName:</label>
                <span id="firstName">Mohamed</span>
            </div>
            <div class="profile-info">
                <label for="lastName">LastName:</label>
                <span id="lastName">kdfhiuf</span>
            </div>
            <div class="profile-info">
                <label for="email">Email:</label>
                <span id="email">Mohamed.fquihi@example.com</span>
            </div>
            <div class="profile-info">
                <label for="phone">Phone Number:</label>
                <span id="phone">0681192911</span>
            </div>
            <div class="profile-info">
                <label for="adresse">Address:</label>
                <span id="adresse">123 Rue de la Rue</span>
            </div>
            <div class="button-group">
                <button class="button rounded orange" id="modifier">update</button>
                <button class="button rounded orange" id="supprimer">delete</button>
            </div>
        </div>
    </div>
</body>
