body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 600px; /* Adjust the maximum width as desired */
    height: auto;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(5px); /* Apply the blur effect to the background image */
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}

.profile h1 {
    font-size: 24px;
    color: #333;
}

.profile-info {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-info label {
    font-weight: bold;
    color: #555;
}

.profile-info span {
    color: #444;
}

.button-group {
    text-align: center;
}

.button {
    background-color: #FFA500;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px; /* Rounded buttons */
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth color transition */
}

.button:hover {
    background-color: #FF7F00; /* Slightly darker orange on hover */
}
