body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;;
    margin: 0;
}

/* Styles pour le tableau (les mêmes que précédemment) */
table {
    width: 75%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 0rem;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #d4d0d0;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #fff;
}

.btn {
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px;
    cursor: pointer;
}
        /* Styles pour la pagination */
.pagination {
    display: flex;
    justify-content: center;
}
h1 {
    margin-top: 3rem;
    padding-left: 12rem;
    margin-bottom: 0rem
}

