body {
    font-family: Arial, sans-serif;
    //background-color: #f2f2f2;
    padding: 20px;
}

h1 {
    text-align: center;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.order-details {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 0 auto;
}

.order-details h2 {
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.order-details p {
    margin: 10px 0;
}

.order-details .back-button {
    text-align: center;
    margin-top: 20px;
}

.btn {
    margin-top: 20px;
    background-color: #FFA500;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 7rem;
}