body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.order-details-block{
    display: flex;
}

.order-details-right{
    width: 30%;
    margin-left: 5%;
}

.order-details-left {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 20px;
    max-width: 55%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-right: 5%;
    margin-bottom: 10rem;
}

.order-details {
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.order-details h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.order-details p {
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 0rem;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #d4d0d0;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #fff;
}


.back-button {
    width: 8rem;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
    padding-right: 0rem;
    background-color: #FF6D43;
    color: black;
    border-radius: 10px;
    background-image: url('../../assets/icons/left.svg');
    background-repeat: no-repeat;
    background-position: 12px;
    background-size: 18px;
    border: none;
    cursor: pointer;
}

.validate-button{
    margin-left: 20px;
    font-size: 1rem;
    font-weight: bold;
    width: 8rem;
    padding: 12px 20px;
    background-color: #4CAF50;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;

}
