<app-header></app-header>
<body>
    <h1>Détails de la commande #12345</h1>

    <div class="order-details">
        <h2>Informations sur la commande</h2>
        <p><strong>ID de la commande:</strong> 12345</p>
        <p><strong>Nom du client:</strong> John Doe</p>
        <p><strong>Produit:</strong> Produit A</p>
        <p><strong>Montant:</strong> $100.00</p>

        <h2>Adresse de livraison</h2>
        <p><strong>Nom du client:</strong> John Doe</p>
        <p><strong>Adresse:</strong> 123 Rue Principale</p>
        <p><strong>Ville:</strong> Villeville</p>
        <p><strong>Code postal:</strong> 12345</p>

        <div class="back-button">
            <button class="btn" (click)="retour()">Retour</button>
        </div>
    </div>
</body>