<app-header></app-header>
<body>
    <h1>Détails de la commande #{{ order.idOrder }}</h1>
    <div class="order-details-block">
        <div class="order-details-right">
            <h2>Informations sur la commande</h2>
            <p><strong>Nom du client:</strong> {{ order.username }} </p>
            <p><strong>Reference commande:</strong>{{ order.label }} </p>
            <p><strong>Total:</strong>{{ order.total }} </p>

            <h2>Adresse de livraison</h2>
            <p><strong>Mobile:</strong> {{ order.mobile }}</p>
            <p><strong>Adresse:</strong> {{ order.adresse }}</p>
            <p><strong>Ville:</strong> {{ order.ville }}</p>
            <p><strong>Code postal:</strong> {{ order.codePostal }}</p>
        </div>

        <div class="order-details-left">
        <div class="order-details">
            <h2>detail de la commande</h2>
            <table>
                <tr>
                    <th>ID de l'ordre</th>
                    <th>Montant</th>  
                    <th>Quantité</th>
                    <th>Total</th>
                </tr>
                <tr *ngFor="let orderDetail of order.orderDetails">
                    <td>{{ orderDetail.idProduct }}</td>
                    <td>{{ orderDetail.price }}</td>
                    <td>{{ orderDetail.quantity }}</td>
                    <td>{{ orderDetail.price * orderDetail.quantity | currency:'USD':'symbol' }}</td>
                 </tr>
            </table>
        </div>
        <div style="text-align: right;">
            <button class="back-button" (click)="retour()">Retour</button>
            <button *ngIf="order.status == 'PENDING'" class="validate-button" (click)="validate(order)" [disabled]="isButtonDisabled">Valider</button>
        </div>
        </div>
 
    </div>
</body>