<h1 class="title">Customer Information</h1>

<div class="container">
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers">
                    <td>{{ customer.firstName }}</td>
                    <td>{{ customer.lastName }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.password }}</td>

                    <td><button (click)="deleteCustomer(customer)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="form-container">
        <form (submit)="addCustomer()">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" [(ngModel)]="newCustomer.firstName" required>

            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" [(ngModel)]="newCustomer.lastName" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="newCustomer.email" required>

            <label for="password">Password: </label>
            <input type="password" id="password" name="password" [(ngModel)]="newCustomer.password" required>

            <input class="button" type="submit" value="Add Customer">
        </form>
    </div>
</div>


