<h1 class="title">Customer Information</h1>

<div class="container">
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers">
                    <td>{{ customer.firstName }}</td>
                    <td>{{ customer.lastName }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.password }}</td>

                    <td>
                        <button class="update-button" (click)="updateCustomer(customer)">Update</button>
                        <button class="delete-button" (click)="deleteCustomer(customer)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="form-container">
        <button class ="addCustomer" (click)="addCustomer()">Add Customer</button>
</div>


